// Typography
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #121212;
$background-color: #121212;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #f5a26f;
$link-color: #71e096;
$title-color: #898cff;
$selection-color: #ed6d79; // visible when highlighting text

// Header colours
$header-link-color: #ffdc89;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #FFF;
$header-desc-text-color: #FFF;
